<div class="jumbotron" style="padding: 45px 0px">
    <h2 class="text-center">To Do List</h2>
</div>

<div class="input-group">
    <input type="text" class="form-control" [value]="newItem" (input)="newItemChanged($event)">
    <div class="input-group-addon hover-cursor" (click)="addItem(newItem)">
        <i class="fa fa-plus-square fa-2x" style="margin:5px 5px"></i>
    </div>
</div>

<div style="margin:5px 0px">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of toDoList" [class.selected]="item === selectedItem"(click)="onSelect(item)">
            <span class="hover-cursor" [class.text-success]="item.isToggled" (click)="alterToggle(item,item.isToggled)">
                <i class="fa fa-lg" [ngClass]="item.isToggled?'fa-check-circle-o':'fa-circle-thin'"></i>
            </span>
            {{item.name}}
            <span class="hover-cursor text-danger pull-right" (click)="deleteItem(item)">
                <i class="fa fa-trash-o fa-lg"></i>
            </span>
        </li>
    </ul>
    <div style="margin:10px 0px" *ngIf="selectedItem">
        <h4>Item: {{selectedItem.name}}</h4>
            <div><span>Done: </span>{{selectedItem.isToggled}}</div>
            <div>
                <label>Edit:
                <input [(ngModel)]="selectedItem.name" placeholder="name"/>
                </label>
            </div>
    </div>
</div>